/**
 * Mostly based on the 58 bytes of CSS to look great nearly everywhere with 100
 * Bytes of CSS to look great everywhere (enhanced version) and the optional 100
 * more bytes
 * See: https://gist.github.com/JoeyBurzynski/617fb6201335779f8424ad9528b72c41
 */
html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  font-size: 1.25em;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3em 0 1em;
}

p,
ul,
ol {
  margin-bottom: 2em;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
